body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14pt;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

header {
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	width: 100%;
	background-color: white;
	padding-left: 10px;
	padding-right: 15px;
	box-sizing: border-box;
	position: fixed;
	top: 0px;
	z-index: 99999;
}

.header-right {
	float: right;
	display: inline-block;
	font-size: 12pt;
	cursor: pointer;
}

.header-right span {
	margin-left: 30px;
}

.header-left {
    vertical-align: middle;
    margin-right: 30px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
}

.header-left:hover {
	background-color: #e9e9e9;
}

.header-search {
    border: none;
    outline: none;
    margin-left: 20px;
    padding: 10px;
    width: 300px;
}

.header-search:focus {
	background-color: #e9e9e9;
}

h1 {
	font-weight: 400;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	font-size: 16pt;
	cursor: pointer;
}

h2 {
    font-size: 24pt;
    font-weight: 200;
}

.about {
	width: 720px;
	margin-left: calc(50% - 360px)
}

.about-paragraph {
	font-weight: 200;
	margin-bottom: 20px;
}

.tagline {
	font-size: 12px;
}

.app {
	margin-top: 150px;
	margin-bottom: 150px;
}

.overview {
	width: 960px;
	margin-left: calc(50% - 480px)
}

@media only screen and (max-width: 600px) {
	.app {
		width: 100%;
	}

	.overview {
		width: 100%;
		margin: 0px;
		text-align: center;
	}

	.about {
		width: 100%;
		margin: 0px;
		padding: 20px;
		box-sizing: border-box;
	}

	.header-new {
		display: none;
	}

	.header-search {
		width: 10%;
	}

	.header-right {

	}
}

.overview-el {
	display: inline-block;
	text-align: center;
	margin: 20px;
	cursor: pointer;
}

.details {
	margin-left: 30px;
}

.details-languages {
	font-size: 12pt;
	display: inline-block;
	width: 300px;
}

.details-language {
	cursor: pointer;
}

.details-language:hover {
	text-decoration: underline;
}

.details-language-unknown {
	color: grey;
}

.details-language-current {
	text-decoration: underline;
}

.details-current {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 300px);
}

.details-meaning {
	margin-left: 30px;
	display: inline-block;
	vertical-align: top;
}

.details-meaning-main {
	font-size: 24pt;
}

.details-newelement {
	font-size: 12pt;
	color: grey;
	margin-top: 10px;
	cursor: pointer;
}

.details-newelement:hover {
	color: black;
}


.details-related {
	margin-top: 100px;
}

.details-related-el {
	width: 30%;
	display: inline-block;
	cursor: pointer;
}

.details-related-meaning {
	display: inline-block;
	font-size: 24pt;
	vertical-align: middle;
}

.details-related .ideogram {
	vertical-align: middle;
	display: inline-block;
	margin-right: 20px;
}

.details-edit {
	cursor: pointer;
	display: inline-block;
	position: relative;
	border: 1px solid white;
}

.details-edit img {
	position: absolute;
	top: 2px;
	left: 2px;
	display: none;
}

.details-edit:hover, .details-edit.empty {
	border: 1px solid grey;
}

.details-edit.empty {
	background-color: #e9e9e9;
}

.details-edit:hover img {
	display: block;
}

.details.newelement-autocomplete {
    border: 1px solid grey;
    margin: 0px;
    width: 400px;
}
.details-newelement-el .ideogram {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

@media only screen and (max-width: 600px) {
	.details-languages {
		display: none;
	}

	.details-related-el {
		width: calc(100vw - 60px);
		display: block;
	}
}

.ideogram-word {
	text-align: center;
	width: 100%;
}

rect.ideogram-point {
	stroke-width:1;
	stroke: red;
	fill: red;
	fill-opacity: 0;
}

rect.ideogram-point:hover {
	fill-opacity: 1;
}

.ideogram-line {
	stroke-width: 15;
	stroke: black;
	stroke-linecap: round;
	fill: none;
}

.ideogram.size-200 .ideogram-line {
	stroke-width: 10;
}

.ideogram.size-150 .ideogram-line {
	stroke-width: 7;
}

.ideogram.size-70 .ideogram-line {
	stroke-width: 4;
}

.editor {
	margin-left: calc(50% - 200px);
}

.editor-buttons {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.button {
    display: block;
    border: 1px solid grey;
    margin: 10px;
}

@media only screen and (max-width: 600px) {
	.editor {
		margin: 0px;
	}

	.editor-buttons {
	    text-align: center;
		display: block;
		margin-right: 0px;
	}

	.button {
	    display: inline-block;
		width: 30px;
		height: 30px;
	}

	.ideogram-editor {
	    display: block;
		width: 100%;
		text-align: center;
	}
}

.button.selected {
	border: 1px solid red;
}

.ideogram-editor {
    display: inline-block;
}

.ideogram-editor.tool-move {
	cursor: url('/buttons/moveButton.png'), auto;
}

.ideogram-editor.tool-draw {
	cursor: url('/buttons/drawButton.png'), auto;
}

.ideogram-editor.tool-delete {
	cursor: url('/buttons/deleteButton.png'), auto;
}

.language-picker {
	background-color: white;
	position: absolute;
	top: 50px;
	right: 15px;
	border: 1px solid grey;
	font-size: 12pt;
	width: 150px;
	padding: 20px;
	line-height: normal;
	z-index: 99999;
}
.popup-back {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	opacity: 0;
}
