body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14pt;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

header {
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	width: 100%;
	background-color: white;
	padding-left: 10px;
	padding-right: 15px;
	box-sizing: border-box;
	position: fixed;
	top: 0px;
}

.header-right {
	float: right;
	display: inline-block;
	font-size: 12pt;
	cursor: pointer;
}

.header-left {
    vertical-align: middle;
    margin-right: 30px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
}

.header-left:hover {
	background-color: #e9e9e9;
}

h1 {
	font-weight: 400;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	font-size: 16pt;
}

.tagline {
	font-size: 12px;
}

.app {
	margin-top: 150px;

}

.overview {
	width: 660px;
	margin-left: calc(50% - 330px)
}

.details {
	margin-left: 30px;
}

.details-languages {
	font-size: 12pt;
	display: inline-block;
	width: 300px;
}

.details-language {
	cursor: pointer;
}

.details-language:hover {
	text-decoration: underline;
}

.details-language-unknown {
	color: grey;
}

.details-language-current {
	text-decoration: underline;
}

.details-current {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 300px);
}

.details-meaning {
	margin-left: 30px;
	display: inline-block;
	vertical-align: top;
}

.details-meaning-main {
	font-size: 24pt;
}

.details-newelement {
	font-size: 12pt;
	color: grey;
	margin-top: 10px;
	cursor: pointer;
}

.details-newelement:hover {
	color: black;
}


.details-related {
	margin-top: 100px;
}

.details-related-el {
	width: 30%;
	display: inline-block;
}

.details-related-meaning {
	display: inline-block;
	font-size: 24pt;
	vertical-align: middle;
}

.details-related .ideogram {
	vertical-align: middle;
}

.details-edit {
	cursor: pointer;
	display: inline-block;
	position: relative;
	border: 1px solid white;
}

.details-edit:hover {
	border: 1px solid grey;
}

.details-edit img {
	position: absolute;
	top: 2px;
	left: 2px;
	display: none;
}

.details-edit:hover img {
	display: block;
}

.ideogram-word {
	text-align: center;
	width: 100%;
}

rect.ideogram-point {
	stroke-width:1;
	stroke: red;
	fill: red;
	fill-opacity: 0;
}

rect.ideogram-point:hover {
	fill-opacity: 1;
}



.ideogram-line {
	stroke-width: 15;
	stroke: black;
	stroke-linecap: round;
	fill: none;
}

.ideogram.size-200 .ideogram-line {
	stroke-width: 10;
}

.ideogram.size-70 .ideogram-line {
	stroke-width: 4;
}

.editor {
	margin-left: calc(50% - 200px);
}

.editor-buttons {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.button {
    display: block;
    border: 1px solid grey;
    margin: 10px;
}

.button.selected {
	border: 1px solid red;
}

.ideogram-editor {
    display: inline-block;
}

.ideogram-editor.tool-move {
	cursor: url('/buttons/moveButton.png'), auto;
}

.ideogram-editor.tool-draw {
	cursor: url('/buttons/drawButton.png'), auto;
}

.ideogram-editor.tool-delete {
	cursor: url('/buttons/deleteButton.png'), auto;
}
